.detail{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom:10px;
	background-color: #f2f2f2;
}
.detailCon{
	width: 1210px;
	margin: auto;
}
.product-intro{
	width: 100%;
	position: relative;
	height: auto;
}
#preview{
	float: left;
	padding-bottom: 15px;
	width: 378px;
	position: relative;
}
.product-picture{
	width: 350px;
	height: 350px;
	margin: 14px 0 14px 14px;
	position: relative;
}