.detail{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom:10px;
	background-color: #f2f2f2;
}
.detailCon{
	background-color: #fff;
	width: 1210px;
	margin: 0 auto;
}
.product-intro{
	width: 100%;
	position: relative;
	height: 574px;
}
#preview{
	float: left;
	padding-bottom: 15px;
	width: 378px;
	position: relative;
}
.product-picture{
	width: 350px;
	height: 350px;
	margin: 14px 0 14px 14px;
	position: relative;
}
.product-list{
	position: relative;
	width: 310px;
	height: 54px;
	padding:0 20px 0 34px;
}
.product-items ul{
	list-style-type: none;
}
.product-items ul li{
	width: 62px;
	text-align: center;
	float: left;
}
.product-items img{
	width: 50px;
	height: 50px;
	padding: 2px;
	display: block;
}
#features{
	padding: 24px 40px 0 34px;
	overflow: hidden;
}
#collect, #share{
	position: relative;
	float: right;
	display: block;
	text-decoration: none;
}
#collect b, #share b{
	position: absolute;
	display: inline-block;
	top: 2px;
	left: 0;
	height: 12px;
	overflow: hidden;
}
#collect{
	padding-left: 18px;
}
#collect b{
	background-position:-177px -296px;
	width: 14px;
	height: 14px;
	top: 3px; 
}
#share{padding: 0 10px 0 17px;}
#share b{width: 12px;background-position: -162px -296px;}
#features b{
	background-image: url(../images/newicon.png);
	background-repeat: no-repeat;
}
.wrap{
	padding-right: 244px;
	width: 588px;
	float: left;
}
#iteminfo{
	position: relative;
	width: 100%;
}
#name{
	padding: 15px 75px 10px 0;
}
#summary{
	width: 100%;
	position: relative;
}
#summary #comment-count{
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 6;
	padding:0 10px;
	border-left: 1px solid #ddd;
}
#summary #comment-count .comment{
	display: block;
	width: 48px;
}
#summary #comment-count .count{
	display: block;
	width: 48px;
	text-align: center;
	color:#005ea7;
}
#summary #comment-count .count:hover{
	color: #005ea7;
}
#summary-price{
	padding-top: 10px;
	margin-bottom: 0;
	padding-right: 81px;
	height: 30px;
	line-height: 30px;
	background-color: #f7f7f7;
	padding-left:72px; 
}
#summary .dt{
	float: left;
	width: 72px;
	margin-left: -72px;
	display: inline;
	text-align: right;
	font-family: simsun;
}
#summary .dd{
	width: 432px;
	margin-left: 10px;
}
#my-price{
	display: inline-block;
	vertical-align: middle;
	color: #e4393c;
	font-size: 20px;
	text-decoration: line-through; 
}
.summary-top{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	background-color: #f7f7f7;
}
#summary-promotions{
	position: relative;
	width: 516px;
	padding-top: 4px;
	padding-right: 0;
	background-color: #f7f7f7;
	padding-left: 72px;
}
#summary-promotions .dd{
	margin-left: 10px;
	font-size: 15px;
}

#summary-promotions .dd strong{font-weight: bold;color: black;font-size: 18px;}
.summary-stock,.summary-service{
	position: relative;
	padding:6px 20px 6px 72px;
}
#choose{
	width: 100%;
	padding-top: 10px;
	border-top: 1px dotted #ddd;
	margin-top: 5px;
	margin-bottom: 20px;
}
#choose-btn{
	width: 578px;
	float: left;
	padding:10px 0 8px 10px;
	border-bottom: none;
}
.choose-amount{
	width: 49px;
	height: 34px;
	float: left;
	border:1px solid #ccc;
	position: relative;
	margin: 8px 10px 0 0;
	overflow: hidden;
}
#choose a{
	display: block;
	text-decoration: none;
}
.choose-amount a{
	position: absolute;
	display: block;
	width: 15px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	border:1px solid #ccc;
	right: -1px;
	color: #666;
	background-color: #f1f1f1;
}
a.btn-reduce{bottom:-1px;}
a.btn-add{top: -1px;}
.choose-amount input{
	display: block;
	width: 31px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: 1px;
	left: 0;
	border:0;
	text-align: center;
	padding: 1px 0;
	outline: 0;
}
#choose-btn .btn{
	float: left;
	position: relative;
	height: 38px;
	margin-top: 8px;
	margin-bottom: 5px;
}
#choose-btn .btn a{
	float: left;
	margin-right: 6px;
	overflow: hidden;
}
#choose-btn-append a{
	line-height: 38px;
	width: 137px;
	height: 38px;
	text-align: center;
	color: #e4393c;
	font:400 18px/38px "microsoft yahei";
}
#choose-btn-buy a{
	line-height: 38px;
	width: 137px;
	height: 38px;
	text-align: center;
	color: #e4393c;
	font:400 18px/38px "microsoft yahei";
}
#choose-btn a b{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;cursor: pointer;
	background-image: url(../images/p-btns.png);
	background-repeat: no-repeat;
}
#choose-btn-append a b{background-position: -314px 0;}
#choose-btn-buy a b{background-position: 0 -124px;}
#choose .dt{
	float: left;
	width: 72px;
	margin-left: -72px;
	display: inline;
	text-align: right;
	font-family: simsun;
}
#choose .dd{
	overflow: hidden;
}
#choose .item {
	float: left;
	margin:2px 8px 2px 0;
}
#choose .item.selected{
	position: relative;
}
#choose .item.selected b{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	background: url(../images/newicon.png) no-repeat -202px -224px;
}
#choose .item a{
	float: left;
}
#choose .item.selected a{
	padding: 3px 5px;
	border: 2px solid #e4393c;
}
#choose .item a{
	padding: 4px 6px;
	border: 1px solid #ccc;
	background: #fff;
}
#choose .item a:hover{
	padding: 3px 5px;
	border: 2px solid #e4393c;
}
#choose-color{
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}
#choose-color .dt{
	margin-top: 10px;
}
#choose-version{
	width: 516px;
	padding: 5px 0 5px 72px;
	float: left;
}
#choose-version .dt{
	margin-top: 10px;
}



