*{margin: 0;padding: 0;}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";color:#666;background: #fff;}
a{text-decoration: none;
	color:#666;
}
a:hover{
	color:#ff0000;
}
.nav{
	width: 100%;
	height: auto;
	background-color: #F1F1F1;
	font-size: 13px;
	line-height: 30px;
}
.navCon{
	width: 1210px;
	margin: auto;
	height: 30px;
	background-color: #F1F1F1;
	position: relative;
}
.dorpdown{position: relative;}
.dorpdown-layer{position: absolute;}
.nav-target{
	text-align: center;
	height: 30px;
	line-height: 30px;
	float: left;
	padding: 0 15px;
	cursor: default;
}
.nav .ci-right{
	top: 12px;
	right: 1px;
	height: 7px;
	overflow: hidden;
	font: 400 15px/15px consolas;
	color: #6a6a6a;
	transition: transform .1s ease-in 0s;
	-webkit-transition: -webkit-transform .1s ease-in 0s;
	display: block;
	position: absolute;
}
.nav .hover .ci-right{
	transform: rotate(180deg);
	-webkit-transform :rotate(180deg);
}
.nav-target .ci-right s{
	position: relative;
	top: -7px;
	text-decoration: none;
}
.dd-space{
	position: absolute;
	left: -15px;
	top: -5px;
	z-index: 11;
	width: 88px;
	height: 10px;
	background-color: #fff;
}
.nav-target table{
	display: block;
	position: absolute;
	left: -16px;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 5px;
	margin: 0;
	z-index: 10;
}
.nav-target table a{
	display: block;
	width: 50px;
	height: 30px;
	text-decoration: none;
	color:#666;
	text-align: center;
	line-height: 30px;
	margin: 1px 3px;
}
.nav-target.hover{
	background-color: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
ul{list-style-type: none;}
.nav-menu{
	height: 30px;
	position: absolute;
	right: 5px;
	float: right;
}
.nav-menu li{
	float: left;
}
.nav-menu li a{
	text-decoration: none;
	border-right: 1px solid #ddd;
	padding: 0 10px;
	color: #666;
}
.nav-menu li a:hover{color: #c00;}